.App {
}

.App-header {
  background-color: #222;
  text-align: center;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  margin-top: 20px;
}

.row {
  height: 40px;
}

.invoiceRow:hover {
  background-color: cadetblue;
}

.form-control {
  width: 300px;
}

.input-group {
  width: 300px;
}
